@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-3{
    animation-delay: 3s;
  }
  .animation-delay-6 {
    animation-delay: 6s;
  }
  .animation-delay-9 {
    animation-delay: 9s;
  }
  .animation-delay-11 {
    animation-delay: 11s;
  }
}

@layer components {
  .orbit {
    @apply relative flex justify-center items-center border border-slate-300/50 rounded-full
  }
  
}

